.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "footer";
    grid-gap: 10px;
    font-weight: 600; 
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    }

  header {
    grid-area: header;
    background: linear-gradient(90deg, #0a0f5c, #7a0fa1); /* Farbverlauf von Dunkelblau zu Lila */
    color: white; /* Textfarbe weiß */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Die Höhe */
    border-radius: 20px; /* Abgerundete Ecken */
    font-size: 24px; /* Größe vom Text */
    font-weight: bold; /* Fettgedruckt */
    }

    .header-left {
    width: 50%;
    display: flex;
    justify-content: flex-start; /* Linksbündig */
    align-items: center;
    }
  
  .header-right {
    width: 50%;
    display: flex;
    justify-content: flex-end; /* Rechtsbündig */
    align-items: center;
    }

    main {
      grid-area: main;
      background: linear-gradient(90deg, #7a0fa1, #0a0f5c); /* Farbverlauf von Dunkellila zu Pink */
      color: white; /* Textfarbe weiß */
      width: auto;
      padding: 20px; /* Innenabstand */
      font-size: 24px; /* Größe vom Text */
      font-weight: bold; /* Fettgedruckt */
      border-radius: 20px; /* Abgerundete Ecken */
  }

    section {
      background-color: rgba(255, 255, 255, 0.1); /* Leichter Hintergrund für Section */
      margin: 20px 0; /* Abstand zwischen den Sections */
      padding: 20px;
      border-radius: 10px; /* Abgerundete Ecken */
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2); /* Schatten für mehr Tiefe */
  }
  
  p {
      font-size: 18px; /* Schriftgröße für Paragraphen */
      line-height: 1.6; /* Zeilenhöhe für bessere Lesbarkeit */
      margin: 10px 0; /* Abstand nach oben und unten */
      text-align: justify; /* Textausrichtung */
      color: rgb(255, 255, 255);
  }

    footer {
    grid-area: footer;
    background: linear-gradient(90deg, #729be7, #460b5e);
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Die Höhe */
    border-radius: 20px; /* Abgerundete Ecken */
    font-size: 24px; /* Größe vom Text */
    font-weight: bold; /* Fettgedruckt */
    gap: 10px; /* Abstand zwischen den Elementen */
    }

    button {
      background-color: #1c3468; /* Grüne Hintergrundfarbe */
      color: white; /* Weiße Schriftfarbe */
      border: none;
      padding: 10px 20px; /* Innenabstand */
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px; /* Abgerundete Ecken */
      transition: background-color 0.3s ease; /* Sanfter Übergang bei Hover */
      margin-left: 20px; /* Abstand zum nächsten Element */
      margin-right: 20px; /* Abstand zum nächsten Element */ 
    }
    
    button:hover {
        background-color: #6f45a0; /* Farb änderung bei Hover */
    }  

    a {
      background-color: #1c3468; /* Grüne Hintergrundfarbe */
      color: white; /* Weiße Schriftfarbe */
      border: none;
      padding: 10px 20px; /* Innenabstand */
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 5px; /* Abgerundete Ecken */
      transition: background-color 0.3s ease; /* Sanfter Übergang bei Hover */
      margin-left: 20px; /* Abstand zum nächsten Element */
      margin-right: 20px; /* Abstand zum nächsten Element */ 
    }
    
    a:hover {
        background-color: #6f45a0; /* Farb änderung bei Hover */
    }  