<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Webseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='E-Business.css') }}">
</head>
<body>
    <div class="container">

        <header>
            <div class="header-left">
                <a href="/">Home / Nayon</a>
            </div>
            <div class="header-right">
                <a href="/Finanzen">Finanzierung / Anil</a>
                <a href="/Ethik">Ethik / Veysel<</a>
                <a href="/Daten">Daten / Tamer</a>
            </div>
        </header>

        <main>
        
                    <h1>Überschrift für die Seite</h1>
            <p>
                Ein allgemeiner Text, der die Seite beschreibt.
            </p>

            <section>
                <h2>Abschnitt 1</h2>
                <p>
                Text zu Abschnitt 1
                </p>
            </section>

            <section>
                <h2>Abschnitt 2</h2>
                <p>
                Text zu Abschnitt 2
                </p>
            </section>

            <section>
                <h2>Abschnitt 3</h2>
                <p>
                Text zu Abschnitt 3
                </p>
            </section>

        </main>

        <footer>
        
        Footer
        
        <br>
        Hier ein einfachen Footer machen, wie man es von einer Webseite kennt.

        </footer>

    </div>
</body>
</html>